.btn {
    background: rgb(114, 238, 131);
    background: linear-gradient(
      90deg,
      rgba(114, 238, 131, 0.9780287114845938) 34%,
      rgba(130, 234, 255, 1) 100%
    );
    border-radius: 35px;
    padding: 14px 49px;
    color: #ffffff;
    display: inline-block;
    font: normal bold 9px/1 'Open Sans', sans-serif;
    text-align: center;
    /* position: relative;
    display: inline-block; */
  }
  .nav-item a {
    float: left;
    display: block;
    color: hsl(228, 45%, 44%);
    font-size: 11px;
    text-align: center;
    font-weight: bold;
    padding: 14px 16px;
    text-decoration: none;
    border-bottom: 3px solid transparent;
  }
  
  .nav-item a:hover {
    border-bottom: 3px solid #03b470;
  }
  
  .nav-item a.active {
    border-bottom: 2px solid red;
  }